<header>
    <div class="app-name">
        <span>AyurFix</span>
      </div>
    <nav>
      <ul>
     
        <li><a href="#">Dashboard</a></li>
        <li><a href="application-status">Appointments</a></li>
        <li><a href="#">Links</a></li>
        <li><a href="#">Prediction</a></li>
        <li><a href="#">Labs</a></li>
        <li><a href="#">Insights</a></li>
        <li><img class="img" src="assets/images/notification.png" alt="bell" height="20"></li>
        <li><img class="img" src="assets/images/menu.png" alt="menu"  height="20"></li>
      </ul>
    </nav>
  </header>